extends ../layout/index

block contenido
            .px-4.shadow.cuadros.loginM

                img.mb-4(src='/images/logoLightGreen.png', alt='Un perro pug')
                a.texto Recuperar password
                form.space-y-5
                    div
                        input#email.entradas(
                            placeholder="EMAIL" type="email" name="email" )

                    div.flex.items-center.justify-between  
                        a.textoLink(href="/login") ¿Ya tienes una cuenta? Inicia Sesión
                        a.textoLink(href="/registro") No tienes una cuenta? Crear cuenta
                    input.boton1.texto(type="submit" value="Recuperar" class="bg-blue-600 w-full text-white uppercase font-bold py-3 rounded-md hover:cursor-pointer hover:bg-blue-700 transition-colors")