@taildwind base;

.container{
  width: 100%
}

@media (min-width: 640px){
  .container{
    max-width: 640px
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px
  }
}

.mx-auto{
  margin-left: auto;
  margin-right: auto
}

.mb-3{
  margin-bottom: 0.75rem
}

.mt-10{
  margin-top: 2.5rem
}

.mt-8{
  margin-top: 2rem
}

.block{
  display: block
}

.flex{
  display: flex
}

.min-h-screen{
  min-height: 100vh
}

.w-full{
  width: 100%
}

.max-w-md{
  max-width: 28rem
}

.items-center{
  align-items: center
}

.justify-between{
  justify-content: space-between
}

.space-y-5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse))
}

.rounded-md{
  border-radius: 0.375rem
}

.border{
  border-width: 1px
}

.border-gray-300{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.bg-blue-600{
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity))
}

.bg-gray-50{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem
}

.text-center{
  text-align: center
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-bold{
  font-weight: 700
}

.font-extrabold{
  font-weight: 800
}

.font-normal{
  font-weight: 400
}

.uppercase{
  text-transform: uppercase
}

.text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.placeholder-gray-400::-moz-placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity))
}

.placeholder-gray-400::placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity))
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.transition-colors{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.hover\:cursor-pointer:hover{
  cursor: pointer
}

.hover\:bg-blue-700:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity))
}